
	<!--Se definen los bloques y se hace la extension de la pagina hacia layout.html-->
    {% extends "layout.html" %}

    {% block body %}
    
    <h1>LISTA CONTACTOS</h1>
    
        <!--se crea la lista -->
        
    <div class="form-group">
        <ul>
            {% for contac in list %}
        <!--Lista de tareas de forma desordenada-->
        
            <li>{{ contac }}</li>
            {% endfor %}
        </ul>
    </div> 
    <!--
     funcion que permite ir a la pagina de agregar 
    -->
    <a href="{{ url_for('agregar') }}">Agregar contacto</a>
    
    {% endblock %}